alembic
anyio
asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
click
cycler
et-xmlfile
fasttext
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
h11
httpcore
httpx
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
lxml
Mako
MarkupSafe
matplotlib
mlxtend
nltk
numpy
openpyxl
pandas
Pillow
pkg_resources
pybind11
PyMySQL
pyparsing
python-dateutil
pytz
regex
rfc3986
Sastrawi
scikit-learn
scipy
six
sniffio
soupsieve
SQLAlchemy
threadpoolctl
tqdm
typing-extensions
Werkzeug
xlrd
zipp
