{% extends "layout.html" %} {% block content %}
<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Calculate Apriori</h1>

<!-- DataTales Example -->

<div class="card shadow mb-4">
  <div class="card-body">
    <form id="formInput" method="post" action={{url_for('calculate_process')}}>
      <div class="row">
        <div class="col-6 mb-3">
          <label>Support Minimum(%)</label><span class="text-danger">*</span>
          <input id="support" name="support" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label>Confidence Minimum(%)</label><span class="text-danger">*</span>
          <input id="confidence" name="confidence" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label>Publication Total</label>
          <input name="publication" id="publication" value="{{total_data}}" disabled type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>Output Filter</label>
          <select name="outputFilter" class="custom-select" id="outputFilter">
            <option value="" selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

        </div>
      </div>
      <button id="process" type="submit" class="btn btn-danger mt-4">
        Process
      </button>
    </form>
  </div>
</div>

<script>
  const confidence = document.querySelector("#confidence");
  const support = document.querySelector("#support");
  const outputFilter = document.querySelector("#outputFilter");
  const btnProcess = document.querySelector("#process");
  btnProcess.disabled = true;

  function disabledBtn() {
    if (confidence.value === "" || support.value === "" || outputFilter.value === "") {
      btnProcess.disabled = true;
    } else {
      btnProcess.disabled = false;
    }
  }


  support.addEventListener("input", disabledBtn);
  confidence.addEventListener("input", disabledBtn);
  outputFilter.addEventListener("change", disabledBtn);


</script>
{% endblock %}